/*-----------------------*\
PLANO
\*-----------------------*/

.plano {
	border: 1px solid #25a4a7;
	padding: 10px;
}

.plano .plano__cabecalho {
	margin: -10px;
	margin-bottom: 0;

	background-color: #65a4a7;
	color: #fff;

	text-align: center;
	line-height: 1.8;
	font-weight: normal;
	font-size: 25px;
}

.plano__preco {
	margin:  20px 0;

	text-align: center;
	font-size: 20px;
}

.plano__caracteristica {
	padding: 0;
	margin: 20px 0;

	list-style: none;
}

.plano__caracteristica > li {
	text-align: center;
}

.plano__rodape {
	text-align: center;
}

/*-----------------------*\
BOTÃO
\*-----------------------*/

.botao {
	padding: 12px 16px;
	display: inline-block;

	background-color: #bbb;
	color: #fff;
	
	text-decoration: none;
}

.botao:hover, .botao:focus {
	background-color: #aaa;
	color: #fff;

	text-decoration: none;
}

.botao--salvar {
	background-color: #127d00;
}

.botao--salvar:hover, .botao--salvar:focus {
	background-color: orange;
}