.layout-cabecalho {
	height: 60px;
	border-bottom: 1px solid #bbb;

	background-color: #fff;

}

.layout-cabecalho--home {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1;
}

.layout-cabecalho img {
	margin-top: 12px;
}

.layout-planos {
	padding: 80px 0;	
}

.layout-chamada {
	margin-top: 60px;
	padding: 80px 0;	

	background-color: green;
}

.layout-depoimento {
	padding: 80px 0;
	background-color: #d7c7d7; 	
}

.layout-rodape {
	padding: 40px 0;

	background-color: #484848;

	color: #b1b2b3;

	text-align: center;
}